<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>ING Direct</title>
<meta name="description" content="">
<meta name="author" content="">
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<script type="application/x-javascript" src="javascripts/common.js"></script>
<!--<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){
			window.scrollTo(0,1);
		}
	</script>-->
<!-- CSS -->
<link rel="stylesheet" href="stylesheets/base.css">
<link rel="stylesheet" href="stylesheets/grid.css">
<link rel="stylesheet" href="stylesheets/layout.css">
<script type="application/x-javascript" src="javascripts/less-1.3.0.min.js"></script>

<!-- Favicons -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
<script type="application/x-javascript" src="javascripts/modernizr.js"></script>
<!-- To Top scripts 
	<script src="includes/smoothscroll.js"type="text/javascript" ></script>
	<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.js" type="text/javascript"></script>
	<script src="includes/jquery.easing.1.3.js" type="text/javascript"></script>
	<script src="includes/jquery.ui.totop.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>-->
</head>
<body>
<header>
  <section class="row overflow-visible"> <a href="home.html" class="logo"><figure><img src="images/ing-logo.png" alt="ING Direct"></figure></a>
    <section class="navigation">
      <nav>
        <section class="notch"></section>
        <ul class="topNavigation">
        </ul>
      </nav>
      <a href="#" class="search"></a> 
      <a href="javascript:;" class="nav" id="nav-expand" title="Expand"></a>
      <a href="javascript:;" class="nav nav-collapse" id="nav-collapse" title="Collapse"></a>
      </section>
  </section>
</header>
<section class="content-area">
  <section class="primary-color-box">
    <section class="row content">
      <section class="grid_7">
        <h2>Banking centered around you.</h2>
        <p>At ING Direct, we're not just another bank. We believe in a new approach. No more counters and unnecessary bureaucracy. Just good value banking, made easy.</p>
        <a href="login.html" class="primary-btn">Login</a> </section>
      <section class="grid_5 home-pic"> <figure><img src="images/home-pic.png"></figure> </section>
    </section>
  </section>
  <section class="home-articles row">
  <!-- Savings -->
    <article class="savings" name="savings" id="savings">
      <h2>Savings</h2>
      <nav>
        <ul>
          <li><a href="javascript:;" class="current">Orange Account</a></li>
          <li><a href="javascript:;">Housing Account</a></li>
          <li><a href="javascript:;">Mini Account</a></li>
          <li><a href="javascript:;">Business Account</a></li>
        </ul>
      </nav>
      <section class="content">
        <section class = 'iosSlider'>
          <section class = 'slider content-light-color-box'>
            <section class = 'item clearfix' id = 'item1'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>1 The orange account is designed to make life easier.</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure>
              <a href="savings.html" class="more-btn clearfix">Learn More</a>              </section> 
              </section>
            </section>
            <section class = 'item clearfix' id = 'item2'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>2 The Housing Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item clearfix' id = 'item3'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>3 The Mini Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"> </figure><a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item clearfix' id = 'item4'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>4 Business Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
          </section>
          <section class = 'iosSliderButtons'>
            <section class = 'button'></section>
            <section class = 'button'></section>
            <section class = 'button'></section>
            <section class = 'button'></section>
          </section>
        </section>
      </section>
    </article>
  <!-- Investings -->
   <article class="savings" name="investing" id="investing">
      <h2>Investings</h2>
      <nav>
        <ul>
          <li><a href="javascript:;" class="current">Orange Account</a></li>
          <li><a href="javascript:;">Housing Account</a></li>
          <li><a href="javascript:;">Mini Account</a></li>          
        </ul>
      </nav>
      <section class="content">
        <section class = 'iosSlider'>
          <section class = 'slider content-light-color-box'>
            <section class = 'item' id = 'item1'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>1 The orange account is designed to make life easier.</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"> </figure><a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item2'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>2 The Housing Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item3'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>3 The Mini Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>            
          </section>
          <section class = 'iosSliderButtons'>
            <section class = 'button'></section>
            <section class = 'button'></section>
            <section class = 'button'></section>            
          </section>
        </section>
      </section>
    </article>
  <!-- Insurance -->
    <article class="savings" name="insurance" id="insurance">
      <h2>Insurance</h2>
      <nav>
        <ul>
          <li><a href="javascript:;" class="current">Orange Account</a></li>
          <li><a href="javascript:;">Housing Account</a></li>          
        </ul>
      </nav>
      <section class="content">
        <section class = 'iosSlider'>
          <section class = 'slider content-light-color-box'>
            <section class = 'item' id = 'item1'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>1 The orange account is designed to make life easier.</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"> </figure><a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item2'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>2 The Housing Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
          </section>
          <section class = 'iosSliderButtons'>
            <section class = 'button'></section>
            <section class = 'button'></section>            
          </section>
        </section>
      </section>
    </article>
  <!-- Morgages -->
    <article class="savings" name="mortgages" id="mortgages">
      <h2>Mortgages</h2>
      <nav>
        <ul>
          <li><a href="javascript:;" class="current">Orange Account</a></li>
          <li><a href="javascript:;">Housing Account</a></li>
          <li><a href="javascript:;">Mini Account</a></li>
          <li><a href="javascript:;">Business Account</a></li>
        </ul>
      </nav>
      <section class="content">
        <section class = 'iosSlider'>
          <section class = 'slider content-light-color-box'>
            <section class = 'item' id = 'item1'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>1 The orange account is designed to make life easier.</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item2'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>2 The Housing Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"><figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item3'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>3 The Mini Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
            <section class = 'item' id = 'item4'>
              <section class="grid_8">
                <section class="box-padd">
                  <h2>4 Business Account</h2>
                  <p>Innovation allows us to eliminate structural costs that you don’t need. So we can offer you a 3.30% APR * the first 4 months and then monthly growth to the interest rate current account ORANGE: 1.20% APR * </p>
                </section>
              </section>
              <section class="grid_3 text-right"> <section class="box-padd"><figure><img src="images/piggy-bank.png" class="img-right"></figure> <a href="#" class="more-btn">Learn More</a></section></section>
            </section>
          </section>
          <section class = 'iosSliderButtons'>
            <section class = 'button'></section>
            <section class = 'button'></section>
            <section class = 'button'></section>
            <section class = 'button'></section>
          </section>
        </section>
      </section>
    </article>
    
  </section>
  
  
</section>
</body>
<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="javascripts/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="javascripts/jquery/jquery.iosslider.js"></script>
<script type="text/javascript" src="javascripts/jquery/jquery.ui.totop.js"></script>
<script type="text/javascript" src="javascripts/bookmarkscroll.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>

<script type="text/javascript" src="javascripts/underscore.js"></script>
<script type="text/javascript" src="javascripts/backbone.js"></script>

<script type="text/javascript" src="models/model.menuitem.js"></script>
<script type="text/javascript" src="models/model.menu.js"></script>

<script type="text/javascript" src="views/view.menuitemview.js"></script>
<script type="text/javascript" src="views/view.menu.js"></script>

<script type="text/javascript" src="controllers/controller.menu.js"></script>

<script type="text/template" id="menu-item-template">
    <a href="javascript:bookmarkscroll.scrollTo('<%= key %>')"><%= title %></a>
</script>
</html>
